
*{
  box-sizing: border-box;
}

.App{
  display: flex;
  align-items: center;
  flex-direction: column;
}
body { background-color: rgba(0, 0, 0); }


h1 {
  font: size 100px;
  color: white;
  display: flex;
  margin-left: 5%;
  margin-right: 5%;
}

ul {

  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

div {
  color: white;
}


.nav a { 
  color: inherit;
  justify-content: center;
  font-size:30px;
  text-decoration: none;
}
.nav a:hover {
  color: rgb(193, 162, 223);
}
.site-name:hover
{
  filter: opacity(0.6) drop-shadow(0 0 0 rgb(87, 30, 143)) saturate(1)
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav {
  background-color: rgba(0, 0, 0); 
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 0 1rem;
}

.site-name {
  font-size: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 0 1rem;
}

.header{
  color: white;
  font-size: 40px;
  margin-top: 0px;
  display: flex;
  justify-content: center;
}
.subheader{
  color: white;
  font-size: 30px;
  display: flex;
  justify-content: center;
}


.NavLogo {
  height: 75px;
  width: 75px;
  display: inline-block;
}
img {
  height: auto;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}
.logo {
  color: white;
  display: flex;
  margin-top: 30px;
  justify-content: center;
  
}
.logo:hover {
  animation:Rainbow 2s infinite;
}

@keyframes Rainbow {
  0%     {filter: opacity(0.4) drop-shadow(0 0 0 red) saturate(8);}
  50%    {filter: opacity(0.4) drop-shadow(0 0 0 blue) saturate(8);}
  75%    {filter: opacity(0.4) drop-shadow(0 0 0 green) saturate(8) ;}
  80%    {filter: opacity(0.4) drop-shadow(0 0 0 yellow) saturate(8);}
  100%   {filter: opacity(0.4) drop-shadow(0 0 0 black) saturate(8);}
 }

@keyframes pulse {
    0% {
      filter: opacity(0.4) drop-shadow(0 0 0 rgb(255, 255, 255)) saturate(8);
    }
    
    50% {
      filter: opacity(0.4) drop-shadow(0 0 0 rgb(193, 162, 223)) saturate(10);
    }

    99% {
      filter: opacity(0.4) drop-shadow(0 0 0 rgb(255, 255, 255)) saturate(8);
    }
}
