html {
	font-size: 2
  0px; /* px means "pixels": the base font size is now 10 pixels high  */
	font-family: "Roboto", sans-serif; /* this should be the rest of the output you got from Google fonts */
  }
  html, body {
    min-height: 100%;
}
body { background-color: rgb(0, 0, 0); }
img {
  height: auto;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}
div {
  color: white;
}

.logo {
  color: white;
  display: flex;
  margin-top: 0px;
  justify-content: center;
}
.logo:hover {
  animation:Rainbow_Background 2s infinite;
}

.Welcome{
  color: white;
  font-size: 40px;
  margin-top: 0px;
  display: flex;
  justify-content: center;
}
.Construction{
  color: white;
  font-size: 30px;
  display: flex;
  justify-content: center;
}

@keyframes Rainbow_Background {
  0%     {filter: opacity(0.4) drop-shadow(0 0 0 red);}
  50%    {filter: opacity(0.4) drop-shadow(0 0 0 blue);}
  75%    {filter: opacity(0.4) drop-shadow(0 0 0 green);}
  80%    {filter: opacity(0.4) drop-shadow(0 0 0 yellow);}
  100%   {filter: opacity(0.4) drop-shadow(0 0 0 black);}
 }

@keyframes pulse {
	0% {
    filter: opacity(1);
	}

	50% {
    filter: opacity(0.5);
	}

	100% {
    filter: opacity(1);
	}
}
